In [1]:
import pandas as pd

In [30]:
# read in team 1 data
data1 = pd.read_csv("Final_Score/LSTM/Golden State Warriors.csv", index_col="Unnamed: 0")

In [31]:
# read in team 2 data
data2 = pd.read_csv("Final_Score/LSTM/Miami Heat.csv", index_col="Unnamed: 0")

In [32]:
#create index with both datasets
new_index = data1.index.append(data2.index)

In [33]:
# append first teams stats
test = data1["0"].tolist()

In [34]:
# append second teams stats
for X in data2["0"].tolist():
    test.append(X)

In [35]:
# create datframe
nba_stats = pd.DataFrame(test)

In [36]:
# make column from index with names
nba_stats["Name"] = new_index

In [37]:
# rename column scores 
nba_stats.rename(columns={0: "scores"}, inplace=True)

In [38]:
nba_stats

       scores               Name
0   34.251427     Andrew Wiggins
1   45.562759     Draymond Green
2    3.060918     JaMychal Green
3   21.661009      James Wiseman
4    8.004239   Jonathan Kuminga
5   27.125572       Jordan Poole
6   14.756599       Kevon Looney
7    4.837108      Klay Thompson
8   33.259537        Moses Moody
9   38.617908      Stephen Curry
10  27.388920        Bam Adebayo
11  34.007965       Caleb Martin
12   2.268606     Dewayne Dedmon
13  23.605436    Duncan Robinson
14  17.283964       Gabe Vincent
15  17.550461  Haywood Highsmith
16  39.579037       Jimmy Butler
17  14.893959         Kyle Lowry
18  28.200956          Max Strus
19  55.297703        Tyler Herro

In [39]:
# obtain DKG salary file
DKG_salary = pd.read_csv("DKSalaries.csv")

In [40]:
DKG_salary

,Position,Name + ID,Name,ID,Roster Position,Salary,Game Info,TeamAbbrev,AvgPointsPerGame
0,PG,Stephen Curry (25013084),Stephen Curry,25013084,CPT,16800,MIA@GSW 10/27/2022 10:00PM ET,GSW,50.06
1,PF,Jimmy Butler (25013085),Jimmy Butler,25013085,CPT,14700,MIA@GSW 10/27/2022 10:00PM ET,MIA,38.10
2,C,Bam Adebayo (25013086),Bam Adebayo,25013086,CPT,13200,MIA@GSW 10/27/2022 10:00PM ET,MIA,30.50
3,PG/SG,Tyler Herro (25013087),Tyler Herro,25013087,CPT,12600,MIA@GSW 10/27/2022 10:00PM ET,MIA,37.35
4,SF,Andrew Wiggins (25013088),Andrew Wiggins,25013088,CPT,12300,MIA@GSW 10/27/2022 10:00PM ET,GSW,40.31
...,...,...,...,...,...,...,...,...,...
59,SF/PF,Haywood Highsmith (25013079),Haywood Highsmith,25013079,UTIL,1000,MIA@GSW 10/27/2022 10:00PM ET,MIA,3.00
60,PF,Patrick Baldwin Jr. (25013080),Patrick Baldwin Jr.,25013080,UTIL,1000,MIA@GSW 10/27/2022 10:00PM ET,GSW,0.00
61,PF,Anthony Lamb (25013081),Anthony Lamb,25013081,UTIL,1000,MIA@GSW 10/27/2022 10:00PM ET,GSW,0.00
62,PG,Ryan Rollins (25013082),Ryan Rollins,25013082,UTIL,1000,MIA@GSW 10/27/2022 10:00PM ET,GSW,1.38
63,SF/PF,Andre Iguodala (25013083),Andre Iguodala,25013083,UTIL,1000,MIA@GSW 10/27/2022 10:00PM ET,GSW,0.00

In [41]:
# salary for players
UTIL = DKG_salary.loc[DKG_salary["Roster Position"] == "UTIL",:]

In [42]:
# salary for captains
CPT = DKG_salary.loc[DKG_salary["Roster Position"] == "CPT"]

In [43]:
#creates alt scores with avg ppg provided by draftkings
alt_scores = DKG_salary["AvgPointsPerGame"]

In [44]:
# makes new name list
new_names = nba_stats["Name"].tolist()

In [45]:
dk_names = DKG_salary['Name']

names_drop = []

for name in dk_names:
    if name not in new_names:
        print(f"Not current: {name}")
        
        


for name in new_names:
    if name not in dk_names.tolist():
        print(f"Roster: {name}")
        names_drop.append(name)

Not current: Victor Oladipo
Not current: Victor Oladipo
Not current: Donte DiVincenzo
Not current: Nikola Jovic
Not current: Donte DiVincenzo
Not current: Omer Yurtseven
Not current: Udonis Haslem
Not current: Dru Smith
Not current: Jamal Cain
Not current: Ty Jerome
Not current: Patrick Baldwin Jr.
Not current: Anthony Lamb
Not current: Ryan Rollins
Not current: Andre Iguodala
Not current: Nikola Jovic
Not current: Omer Yurtseven
Not current: Udonis Haslem
Not current: Dru Smith
Not current: Jamal Cain
Not current: Ty Jerome
Not current: Patrick Baldwin Jr.
Not current: Anthony Lamb
Not current: Ryan Rollins
Not current: Andre Iguodala

In [46]:
dk_names

0           Stephen Curry
1            Jimmy Butler
2             Bam Adebayo
3             Tyler Herro
4          Andrew Wiggins
             ...
59      Haywood Highsmith
60    Patrick Baldwin Jr.
61           Anthony Lamb
62           Ryan Rollins
63         Andre Iguodala
Name: Name, Length: 64, dtype: object

In [47]:
new_names

['Andrew Wiggins',
 'Draymond Green',
 'JaMychal Green',
 'James Wiseman',
 'Jonathan Kuminga',
 'Jordan Poole',
 'Kevon Looney',
 'Klay Thompson',
 'Moses Moody',
 'Stephen Curry',
 'Bam Adebayo',
 'Caleb Martin',
 'Dewayne Dedmon',
 'Duncan Robinson',
 'Gabe Vincent',
 'Haywood Highsmith',
 'Jimmy Butler',
 'Kyle Lowry',
 'Max Strus',
 'Tyler Herro']

In [48]:
for replace in names_drop:
    nba_stats  = nba_stats.loc[nba_stats["Name"] != replace]

In [191]:
# change name to be compaitble with draftkings
new_names[27] = "Robert Williams"

nba_stats["Name"] = new_names

ValueError: Length of values (41) does not match length of index (35)

In [49]:
# iterates through UTIL to get salary
s = []
t = []
for x in nba_stats["Name"]:
    
    
    if x in dk_names.tolist():
        row = UTIL.loc[UTIL["Name"] == x]
        s.append(row["Salary"].values[0])
        t.append(row["AvgPointsPerGame"].values[0])

In [50]:
#     for row in UTIL.iterrows():
#        if x == row[1]["Name"]:
#            s.append(row[1]["Salary"])
#            t.append(row[1]["AvgPointsPerGame"])

In [51]:
#makes column with salary
nba_stats["UTIL_salary"] = s

nba_stats["Alt_Salary"] = t

In [52]:
# gets CPT salary by 1.5 X UTIL
nba_stats["CPT_Salary"] = nba_stats["UTIL_salary"] * 1.5

In [53]:
drop_columns = nba_stats.sort_values(by="scores").head(10)["Name"].tolist()

In [54]:
name_list = nba_stats.sort_values(by="scores", ascending=False).head(43)["Name"].tolist()

In [55]:
len(nba_stats)

20

In [101]:
# list of players to keep
name_list = ['Jayson Tatum',
 'Stephen Curry',
 'Jaylen Brown',
 'Al Horford',
 'Andrew Wiggins',
 'Klay Thompson',
 'Marcus Smart',
 'Draymond Green',
 'Jordan Poole',
 'Kevon Looney',
 'Derrick White', 
    'Gary Payton II',
            'Robert Williams']

In [198]:
# list of columns to drop 
drop_columns = [
 'Dennis Schroder',
 'Dwayne Bacon',
 'Jay Huff',
 'Juan Toscano-Anderson',
 'Kendrick Nunn',
'Lonnie Walker IV',
 'Matt Ryan',
 'Max Christie',
 'Patrick Beverley',
 'Russell Westbrook',
 'Scotty Pippen Jr.',
 'Thomas Bryant',
 'Wenyen Gabriel',
    'Patrick Baldwin Jr.',
    'Moses Moody',
    'Cole Swider',
 'Damian Jones',
    
]

In [56]:
nba_stats.sort_values(by = 'scores', ascending = False)

       scores               Name  UTIL_salary  Alt_Salary  CPT_Salary
19  55.297703        Tyler Herro         8400       37.35     12600.0
1   45.562759     Draymond Green         7000       26.88     10500.0
16  39.579037       Jimmy Butler         9800       38.10     14700.0
9   38.617908      Stephen Curry        11200       50.06     16800.0
0   34.251427     Andrew Wiggins         8200       40.31     12300.0
11  34.007965       Caleb Martin         5200       23.25      7800.0
8   33.259537        Moses Moody         2600       11.12      3900.0
18  28.200956          Max Strus         6000       25.40      9000.0
10  27.388920        Bam Adebayo         8800       30.50     13200.0
5   27.125572       Jordan Poole         7400       27.81     11100.0
13  23.605436    Duncan Robinson         3000       11.70      4500.0
3   21.661009      James Wiseman         4800       20.44      7200.0
15  17.550461  Haywood Highsmith         1000        3.00      1500.0
14  17.283964       Gabe Vincent         4400       16.45      6600.0
17  14.893959         Kyle Lowry         7200       26.70     10800.0
6   14.756599       Kevon Looney         4600       18.19      6900.0
4    8.004239   Jonathan Kuminga         2800        5.25      4200.0
7    4.837108      Klay Thompson         6800       19.38     10200.0
2    3.060918     JaMychal Green         3400       13.56      5100.0
12   2.268606     Dewayne Dedmon         3200        5.80      4800.0

In [59]:
name_list = nba_stats.sort_values(by = 'scores', ascending = False).head(-4)["Name"].tolist()

In [60]:
drop_columns = nba_stats.sort_values(by = 'scores', ascending = False).tail(4)["Name"].tolist()

In [69]:
name_list.remove("Brandon Ingram")

In [70]:
drop_columns.append("Brandon Ingram")

In [61]:
name_list = []
list_name = nba_stats["Name"]

for name in list_name:
    if name not in drop_columns:
        name_list.append(name)

In [62]:
index_drop = []
for i in drop_columns:
    row = nba_stats.loc[nba_stats["Name"] == i]
    index_drop.append(row.index[0])

In [63]:
for i in name_list:
    row = nba_stats.loc[nba_stats["Name"] == i]
    total_points = row["scores"]
    total_salary = 50000 - row["CPT_Salary"]

In [64]:
from itertools import combinations

In [65]:
from itertools import combinations
total_lists = []
temp_chosen = []

for i in name_list:
    row = nba_stats.loc[nba_stats["Name"] == i]
    score = row["scores"].tolist()[0] * 1.5
    max_salary = 50000 - row["CPT_Salary"].tolist()[0]

    comb = nba_stats.drop(index = index_drop)
    comb = comb.sort_values("scores", ascending=False).copy()
    cpt_name = row["Name"].tolist()[0]
    print(cpt_name)
    print(score)
    temp_chosen.append({cpt_name : score})

    legit = ()
    max_score = 0

    comb = comb.drop(row.index)
    for combo in combinations(comb["Name"], 5):  # 2 for pairs, 3 for triplets, etc
        total_score = 0
        total_salary = 0
        for x in combo:
            rowP = nba_stats.loc[nba_stats["Name"] == x]
            total_score = total_score + rowP["scores"].tolist()[0]
            total_salary = total_salary + rowP["UTIL_salary"].tolist()[0]
        total_score = total_score + score
        if total_salary < max_salary:
            if total_score > max_score:
                team_salary = total_salary
                print(total_score)
                max_score = total_score
                legit = combo
                print(legit)
                
    temp_chosen.append({max_score : legit})

Andrew Wiggins
51.377140045166016
247.9850082397461
('Tyler Herro', 'Draymond Green', 'Jimmy Butler', 'Stephen Curry', 'Haywood Highsmith')
259.0841407775879
('Tyler Herro', 'Draymond Green', 'Jimmy Butler', 'Caleb Martin', 'Moses Moody')
Draymond Green
68.3441390991211
253.64067459106445
('Tyler Herro', 'Jimmy Butler', 'Stephen Curry', 'Andrew Wiggins', 'Haywood Highsmith')
269.1062889099121
('Tyler Herro', 'Jimmy Butler', 'Stephen Curry', 'Caleb Martin', 'Moses Moody')
James Wiseman
32.4915132522583
245.55688571929932
('Tyler Herro', 'Draymond Green', 'Jimmy Butler', 'Stephen Curry', 'Caleb Martin')
Jordan Poole
40.688358306884766
237.29622650146484
('Tyler Herro', 'Draymond Green', 'Jimmy Butler', 'Stephen Curry', 'Haywood Highsmith')
249.38724899291992
('Tyler Herro', 'Draymond Green', 'Jimmy Butler', 'Andrew Wiggins', 'Caleb Martin')
Kevon Looney
22.134899139404297
235.2002716064453
('Tyler Herro', 'Draymond Green', 'Jimmy Butler', 'Stephen Curry', 'Caleb Martin')
Moses Moody
49.889305114746094
263.1981391906738
('Tyler Herro', 'Draymond Green', 'Jimmy Butler', 'Stephen Curry', 'Andrew Wiggins')
Stephen Curry
57.926862716674805
265.6338634490967
('Tyler Herro', 'Draymond Green', 'Jimmy Butler', 'Caleb Martin', 'Moses Moody')
Bam Adebayo
41.0833797454834
249.033842086792
('Tyler Herro', 'Draymond Green', 'Jimmy Butler', 'Andrew Wiggins', 'Moses Moody')
Caleb Martin
51.01194763183594
263.3288917541504
('Tyler Herro', 'Draymond Green', 'Jimmy Butler', 'Stephen Curry', 'Moses Moody')
Duncan Robinson
35.408154487609856
248.7169885635376
('Tyler Herro', 'Draymond Green', 'Jimmy Butler', 'Stephen Curry', 'Andrew Wiggins')
Gabe Vincent
25.92594623565674
238.99131870269775
('Tyler Herro', 'Draymond Green', 'Jimmy Butler', 'Stephen Curry', 'Caleb Martin')
Haywood Highsmith
26.32569122314453
239.63452529907227
('Tyler Herro', 'Draymond Green', 'Jimmy Butler', 'Stephen Curry', 'Andrew Wiggins')
Jimmy Butler
59.36855506896971
266.1144275665283
('Tyler Herro', 'Draymond Green', 'Stephen Curry', 'Caleb Martin', 'Moses Moody')
Kyle Lowry
22.340938568115234
234.6578826904297
('Tyler Herro', 'Draymond Green', 'Jimmy Butler', 'Stephen Curry', 'Moses Moody')
Max Strus
42.30143451690673
254.6183786392212
('Tyler Herro', 'Draymond Green', 'Jimmy Butler', 'Stephen Curry', 'Moses Moody')
Tyler Herro
82.94655418395996
258.50814628601074
('Draymond Green', 'Jimmy Butler', 'Stephen Curry', 'Andrew Wiggins', 'Haywood Highsmith')
273.9737606048584
('Draymond Green', 'Jimmy Butler', 'Stephen Curry', 'Caleb Martin', 'Moses Moody')

In [66]:
temp_chosen

[{'Andrew Wiggins': 51.377140045166016},
 {259.0841407775879: ('Tyler Herro',
   'Draymond Green',
   'Jimmy Butler',
   'Caleb Martin',
   'Moses Moody')},
 {'Draymond Green': 68.3441390991211},
 {269.1062889099121: ('Tyler Herro',
   'Jimmy Butler',
   'Stephen Curry',
   'Caleb Martin',
   'Moses Moody')},
 {'James Wiseman': 32.4915132522583},
 {245.55688571929932: ('Tyler Herro',
   'Draymond Green',
   'Jimmy Butler',
   'Stephen Curry',
   'Caleb Martin')},
 {'Jordan Poole': 40.688358306884766},
 {249.38724899291992: ('Tyler Herro',
   'Draymond Green',
   'Jimmy Butler',
   'Andrew Wiggins',
   'Caleb Martin')},
 {'Kevon Looney': 22.134899139404297},
 {235.2002716064453: ('Tyler Herro',
   'Draymond Green',
   'Jimmy Butler',
   'Stephen Curry',
   'Caleb Martin')},
 {'Moses Moody': 49.889305114746094},
 {263.1981391906738: ('Tyler Herro',
   'Draymond Green',
   'Jimmy Butler',
   'Stephen Curry',
   'Andrew Wiggins')},
 {'Stephen Curry': 57.926862716674805},
 {265.6338634490967: ('Tyler Herro',
   'Draymond Green',
   'Jimmy Butler',
   'Caleb Martin',
   'Moses Moody')},
 {'Bam Adebayo': 41.0833797454834},
 {249.033842086792: ('Tyler Herro',
   'Draymond Green',
   'Jimmy Butler',
   'Andrew Wiggins',
   'Moses Moody')},
 {'Caleb Martin': 51.01194763183594},
 {263.3288917541504: ('Tyler Herro',
   'Draymond Green',
   'Jimmy Butler',
   'Stephen Curry',
   'Moses Moody')},
 {'Duncan Robinson': 35.408154487609856},
 {248.7169885635376: ('Tyler Herro',
   'Draymond Green',
   'Jimmy Butler',
   'Stephen Curry',
   'Andrew Wiggins')},
 {'Gabe Vincent': 25.92594623565674},
 {238.99131870269775: ('Tyler Herro',
   'Draymond Green',
   'Jimmy Butler',
   'Stephen Curry',
   'Caleb Martin')},
 {'Haywood Highsmith': 26.32569122314453},
 {239.63452529907227: ('Tyler Herro',
   'Draymond Green',
   'Jimmy Butler',
   'Stephen Curry',
   'Andrew Wiggins')},
 {'Jimmy Butler': 59.36855506896971},
 {266.1144275665283: ('Tyler Herro',
   'Draymond Green',
   'Stephen Curry',
   'Caleb Martin',
   'Moses Moody')},
 {'Kyle Lowry': 22.340938568115234},
 {234.6578826904297: ('Tyler Herro',
   'Draymond Green',
   'Jimmy Butler',
   'Stephen Curry',
   'Moses Moody')},
 {'Max Strus': 42.30143451690673},
 {254.6183786392212: ('Tyler Herro',
   'Draymond Green',
   'Jimmy Butler',
   'Stephen Curry',
   'Moses Moody')},
 {'Tyler Herro': 82.94655418395996},
 {273.9737606048584: ('Draymond Green',
   'Jimmy Butler',
   'Stephen Curry',
   'Caleb Martin',
   'Moses Moody')}]

In [67]:

total_lists = []
alt_chosen = []

for i in name_list:
    row = nba_stats.loc[nba_stats["Name"] == i]
    score = row["Alt_Salary"].tolist()[0] * 1.5
    max_salary = 50000 - row["CPT_Salary"].tolist()[0]

    comb = nba_stats.drop(index = index_drop)
    comb = comb.sort_values("Alt_Salary", ascending=False).copy()
    cpt_name = row["Name"].tolist()[0]
    print(cpt_name)
    alt_chosen.append({cpt_name : score})

    legit = ()
    max_score = 0

    comb = comb.drop(row.index)
    for combo in combinations(comb["Name"], 5):  # 2 for pairs, 3 for triplets, etc
        total_score = 0
        total_salary = 0
        for x in combo:
            rowP = nba_stats.loc[nba_stats["Name"] == x]
            total_score = total_score + rowP["Alt_Salary"].tolist()[0]
            total_salary = total_salary + rowP["UTIL_salary"].tolist()[0]
        total_score = total_score + score
        if total_salary < max_salary:
            if total_score > max_score:
                team_salary = total_salary
                print(total_score)
                max_score = total_score
                legit = combo
                print(legit)
                
    alt_chosen.append({max_score : legit})

Andrew Wiggins
215.855
('Stephen Curry', 'Jimmy Butler', 'Tyler Herro', 'Draymond Green', 'Haywood Highsmith')
220.92499999999998
('Stephen Curry', 'Jimmy Butler', 'Tyler Herro', 'Caleb Martin', 'Duncan Robinson')
Draymond Green
209.14
('Stephen Curry', 'Andrew Wiggins', 'Jimmy Butler', 'Tyler Herro', 'Haywood Highsmith')
212.48
('Stephen Curry', 'Andrew Wiggins', 'Jimmy Butler', 'Caleb Martin', 'James Wiseman')
216.69
('Stephen Curry', 'Andrew Wiggins', 'Tyler Herro', 'Max Strus', 'Caleb Martin')
James Wiseman
214.67
('Stephen Curry', 'Andrew Wiggins', 'Jimmy Butler', 'Tyler Herro', 'Kevon Looney')
Jordan Poole
210.535
('Stephen Curry', 'Andrew Wiggins', 'Jimmy Butler', 'Tyler Herro', 'Haywood Highsmith')
215.275
('Stephen Curry', 'Andrew Wiggins', 'Tyler Herro', 'Max Strus', 'James Wiseman')
Kevon Looney
216.355
('Stephen Curry', 'Andrew Wiggins', 'Jimmy Butler', 'Tyler Herro', 'Caleb Martin')
Moses Moody
210.31
('Stephen Curry', 'Andrew Wiggins', 'Jimmy Butler', 'Tyler Herro', 'Jordan Poole')
Stephen Curry
217.1
('Andrew Wiggins', 'Jimmy Butler', 'Tyler Herro', 'Caleb Martin', 'Haywood Highsmith')
217.66
('Andrew Wiggins', 'Tyler Herro', 'Jordan Poole', 'Max Strus', 'Duncan Robinson')
218.26
('Andrew Wiggins', 'Tyler Herro', 'Draymond Green', 'James Wiseman', 'Kevon Looney')
221.84
('Andrew Wiggins', 'Tyler Herro', 'Max Strus', 'Caleb Martin', 'James Wiseman')
Bam Adebayo
202.62
('Stephen Curry', 'Andrew Wiggins', 'Jimmy Butler', 'Max Strus', 'Haywood Highsmith')
205.78
('Stephen Curry', 'Andrew Wiggins', 'Jimmy Butler', 'James Wiseman', 'Moses Moody')
209.99
('Stephen Curry', 'Andrew Wiggins', 'Tyler Herro', 'Max Strus', 'Moses Moody')
Caleb Martin
217.14499999999998
('Stephen Curry', 'Andrew Wiggins', 'Jimmy Butler', 'Tyler Herro', 'Gabe Vincent')
Duncan Robinson
211.18
('Stephen Curry', 'Andrew Wiggins', 'Jimmy Butler', 'Tyler Herro', 'Jordan Poole')
Gabe Vincent
213.745
('Stephen Curry', 'Andrew Wiggins', 'Jimmy Butler', 'Tyler Herro', 'Caleb Martin')
Haywood Highsmith
200.82
('Stephen Curry', 'Andrew Wiggins', 'Jimmy Butler', 'Tyler Herro', 'Bam Adebayo')
Jimmy Butler
213.27
('Stephen Curry', 'Andrew Wiggins', 'Tyler Herro', 'Max Strus', 'Haywood Highsmith')
216.43
('Stephen Curry', 'Andrew Wiggins', 'Tyler Herro', 'James Wiseman', 'Moses Moody')
Kyle Lowry
208.87
('Stephen Curry', 'Andrew Wiggins', 'Jimmy Butler', 'Tyler Herro', 'Haywood Highsmith')
209.95999999999998
('Stephen Curry', 'Andrew Wiggins', 'Jimmy Butler', 'Caleb Martin', 'Kevon Looney')
216.42000000000002
('Stephen Curry', 'Andrew Wiggins', 'Tyler Herro', 'Max Strus', 'Caleb Martin')
Max Strus
215.61999999999998
('Stephen Curry', 'Andrew Wiggins', 'Jimmy Butler', 'Tyler Herro', 'Duncan Robinson')
216.88
('Stephen Curry', 'Andrew Wiggins', 'Tyler Herro', 'Jordan Poole', 'Caleb Martin')
Tyler Herro
214.375
('Stephen Curry', 'Andrew Wiggins', 'Jimmy Butler', 'Draymond Green', 'Haywood Highsmith')
218.865
('Stephen Curry', 'Andrew Wiggins', 'Jimmy Butler', 'Caleb Martin', 'Moses Moody')
219.115
('Stephen Curry', 'Andrew Wiggins', 'Draymond Green', 'Max Strus', 'James Wiseman')

In [68]:
alt_chosen

[{'Andrew Wiggins': 60.465},
 {220.92499999999998: ('Stephen Curry',
   'Jimmy Butler',
   'Tyler Herro',
   'Caleb Martin',
   'Duncan Robinson')},
 {'Draymond Green': 40.32},
 {216.69: ('Stephen Curry',
   'Andrew Wiggins',
   'Tyler Herro',
   'Max Strus',
   'Caleb Martin')},
 {'James Wiseman': 30.660000000000004},
 {214.67: ('Stephen Curry',
   'Andrew Wiggins',
   'Jimmy Butler',
   'Tyler Herro',
   'Kevon Looney')},
 {'Jordan Poole': 41.714999999999996},
 {215.275: ('Stephen Curry',
   'Andrew Wiggins',
   'Tyler Herro',
   'Max Strus',
   'James Wiseman')},
 {'Kevon Looney': 27.285000000000004},
 {216.355: ('Stephen Curry',
   'Andrew Wiggins',
   'Jimmy Butler',
   'Tyler Herro',
   'Caleb Martin')},
 {'Moses Moody': 16.68},
 {210.31: ('Stephen Curry',
   'Andrew Wiggins',
   'Jimmy Butler',
   'Tyler Herro',
   'Jordan Poole')},
 {'Stephen Curry': 75.09},
 {221.84: ('Andrew Wiggins',
   'Tyler Herro',
   'Max Strus',
   'Caleb Martin',
   'James Wiseman')},
 {'Bam Adebayo': 45.75},
 {209.99: ('Stephen Curry',
   'Andrew Wiggins',
   'Tyler Herro',
   'Max Strus',
   'Moses Moody')},
 {'Caleb Martin': 34.875},
 {217.14499999999998: ('Stephen Curry',
   'Andrew Wiggins',
   'Jimmy Butler',
   'Tyler Herro',
   'Gabe Vincent')},
 {'Duncan Robinson': 17.549999999999997},
 {211.18: ('Stephen Curry',
   'Andrew Wiggins',
   'Jimmy Butler',
   'Tyler Herro',
   'Jordan Poole')},
 {'Gabe Vincent': 24.674999999999997},
 {213.745: ('Stephen Curry',
   'Andrew Wiggins',
   'Jimmy Butler',
   'Tyler Herro',
   'Caleb Martin')},
 {'Haywood Highsmith': 4.5},
 {200.82: ('Stephen Curry',
   'Andrew Wiggins',
   'Jimmy Butler',
   'Tyler Herro',
   'Bam Adebayo')},
 {'Jimmy Butler': 57.150000000000006},
 {216.43: ('Stephen Curry',
   'Andrew Wiggins',
   'Tyler Herro',
   'James Wiseman',
   'Moses Moody')},
 {'Kyle Lowry': 40.05},
 {216.42000000000002: ('Stephen Curry',
   'Andrew Wiggins',
   'Tyler Herro',
   'Max Strus',
   'Caleb Martin')},
 {'Max Strus': 38.099999999999994},
 {216.88: ('Stephen Curry',
   'Andrew Wiggins',
   'Tyler Herro',
   'Jordan Poole',
   'Caleb Martin')},
 {'Tyler Herro': 56.025000000000006},
 {219.115: ('Stephen Curry',
   'Andrew Wiggins',
   'Draymond Green',
   'Max Strus',
   'James Wiseman')}]