In [1]:
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.linear_model import LinearRegression
import os

In [2]:
# list of dates to read in datasets
list_dates = ["05-19", "05-21", "05-23", "05-25", "05-27", "05-29", "06-02", "06-05", "06-08", "06-10", "06-13"]

In [3]:
# create dictionary 
final_data = {}

In [4]:
# reads in each csv
for i in list_dates:
    data = pd.read_csv(f"Boston Celtics/{i}.csv", index_col=0)
    
    #gathers data and adds to dict
    date = data["Date"].tolist()[0]
    data[date] = data["Score"]
    final_data[date] = data[date]

In [5]:
# convert dict to dataframe
data_df = pd.DataFrame(final_data)

In [6]:
data_df

,05/19/2022,05/21/2022,05/23/2022,05/25/2022,05/27/2022,05/29/2022,06/02/2022,06/05/2022,06/08/2022,06/10/2022,06/13/2022
Aaron Nesmith,1.25,0.00,10.25,0.00,0.00,NaN,0.00,11.50,1.25,NaN,4.25
Al Horford,21.75,48.00,34.25,38.25,20.75,33.50,42.00,14.50,34.50,24.00,21.75
Daniel Theis,4.75,5.25,7.75,NaN,NaN,NaN,5.50,9.25,NaN,NaN,NaN
Derrick White,NaN,8.00,39.00,27.25,43.25,14.75,28.25,25.50,14.75,20.75,8.75
Grant Williams,27.00,20.75,16.25,12.50,6.50,19.50,8.25,11.25,18.25,4.75,11.25
Jaylen Brown,40.00,54.75,23.75,36.00,37.50,39.00,45.25,29.50,48.75,33.50,34.75
Jayson Tatum,43.25,21.00,51.50,49.00,51.75,54.50,39.25,43.00,49.50,52.75,46.00
Juwan Morgan,2.25,1.25,0.00,0.00,NaN,NaN,0.00,NaN,0.00,NaN,1.25
Luke Kornet,4.50,0.00,NaN,0.00,NaN,NaN,NaN,3.50,NaN,NaN,4.75
Malik Fitts,NaN,0.00,0.00,0.00,NaN,NaN,0.00,3.50,0.00,NaN,NaN
Marcus Smart,63.25,30.00,NaN,17.25,25.00,47.75,36.25,11.50,39.25,39.00,26.25
Nik Stauskas,7.75,3.50,2.00,0.00,NaN,NaN,0.00,8.75,0.00,NaN,0.00
Payton Pritchard,18.50,9.50,26.00,1.25,0.00,0.00,19.50,13.50,4.50,1.75,0.75
Robert Williams III,17.50,NaN,27.25,26.50,18.75,6.75,24.50,10.00,34.50,34.00,23.00
Sam Hauser,NaN,NaN,NaN,NaN,NaN,NaN,0.00,5.00,0.00,NaN,1.50

In [7]:
#create dict
final_result = {}

In [8]:
#iterate through index
for name in data_df.index:
    #create linear regression model 
    model = LinearRegression()
    
    # get dataframe with each name 
    finder = data_df[data_df.index == name]
    
    #obtain length of dataset
    X = []
    for x in range(len(finder.columns)):
        X.append(x)
        
    #get stats for each player    
    stats = data_df[data_df.index == name].values
    
    # create dataframe for each player
    XX = pd.DataFrame(X)
    XX["Score"] = stats[0]
    length = len(XX[0])
    XX.dropna(inplace=True)
    
    #reshape values
    X_values = XX[0].values.reshape(-1, 1)
    
    #fit linear regression model
    model.fit(X_values, XX["Score"])
    #predict next game
    predict = [length]
    
    #create dataframe of final prediction and add to dict
    prediction = pd.DataFrame(predict)
    prediction[0].values.reshape(-1,1)
    final_prediction = model.predict(prediction[0].values.reshape(-1,1))
    final_result[name] = final_prediction[0]

In [11]:
# convert dict to dataframe
Data = pd.DataFrame.from_dict(final_result, orient='index')

In [12]:
Data

                             0
Aaron Nesmith         4.820482
Al Horford           23.668182
Daniel Theis          9.414948
Derrick White        15.583333
Grant Williams        6.704545
Jaylen Brown         36.168182
Jayson Tatum         51.604545
Juwan Morgan          0.159281
Luke Kornet           4.322034
Malik Fitts           1.953815
Marcus Smart         26.024975
Nik Stauskas          0.460204
Payton Pritchard      1.009091
Robert Williams III  26.450758
Sam Hauser            1.485714

In [193]:
# convert dataframe to csv
mypath = "Final_Score"
if not os.path.isdir(mypath):
    os.makedirs(mypath)
Data.to_csv(f"{mypath}/BostonCeltics.csv", index=True)