In [4]:
# import dependencies 
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd
import datetime as dt
from webdriver_manager.chrome import ChromeDriverManager
import time
import numpy as np
import os
import random
import time

In [2]:
# open browser
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 104.0.5112
Get LATEST chromedriver version for 104.0.5112 google-chrome
Trying to download new driver from https://chromedriver.storage.googleapis.com/104.0.5112.79/chromedriver_mac64.zip
Driver has been saved in cache [/Users/evanbruno/.wdm/drivers/chromedriver/mac64/104.0.5112.79]

In [3]:
# visit nba page 
url = 'https://www.teamrankings.com/nba/stat/defensive-efficiency'
browser.visit(url)

In [5]:
html = browser.html
test = soup(html, 'html.parser')

In [29]:
#input date
date = input("Date (YYYY-MM-DD)")

Date (YYYY/MM/DD)2022-06-17

In [16]:
#select date
browser.find_by_name("date").select(date)

In [25]:
# find the headers of the table
headers = []
for header in test.find(id="DataTables_Table_0").find_all("th")[2:]:
    headers.append(header.get_text())

In [22]:
#iterate through rows to obtain defensive data
data = {}
for row in test.find("tbody").find_all("tr"):
    team = row.find(class_="text-left nowrap").get_text()
    data[team] = []
    for td in row.find_all("td")[2:]:
        data[team].append(td.get_text())

In [23]:
data

{'Boston': ['1.036', '1.064', '1.054', '1.035', '1.036', '1.097'],
 'Golden State': ['1.042', '0.952', '0.921', '1.012', '1.075', '1.068'],
 'Memphis': ['1.052', '0.977', '1.069', '1.034', '1.069', '1.083'],
 'Miami': ['1.052', '1.015', '0.991', '1.051', '1.053', '1.083'],
 'Phoenix': ['1.053', '1.115', '1.328', '1.048', '1.059', '1.079'],
 'Cleveland': ['1.065', '1.113', '1.135', '1.045', '1.085', '1.110'],
 'LA Clippers': ['1.069', '1.020', '1.111', '1.059', '1.080', '1.089'],
 'New York': ['1.070', '0.986', '0.931', '1.073', '1.066', '1.051'],
 'Dallas': ['1.070', '1.190', '1.273', '1.039', '1.099', '1.103'],
 'Utah': ['1.073', '1.067', '1.055', '1.057', '1.089', '1.068'],
 'Toronto': ['1.074', '1.099', '1.398', '1.073', '1.075', '1.089'],
 'Milwaukee': ['1.075', '1.093', '1.078', '1.068', '1.081', '1.075'],
 'Philadelphia': ['1.076', '1.110', '1.028', '1.069', '1.082', '1.045'],
 'Minnesota': ['1.080', '1.076', '1.130', '1.041', '1.119', '1.113'],
 'San Antonio': ['1.090', '1.150', '1.145', '1.104', '1.075', '1.095'],
 'Orlando': ['1.092', '1.146', '1.092', '1.092', '1.092', '1.113'],
 'Brooklyn': ['1.093', '1.172', '1.165', '1.092', '1.094', '1.098'],
 'Okla City': ['1.095', '1.317', '1.374', '1.092', '1.097', '1.110'],
 'Denver': ['1.095', '1.127', '1.064', '1.109', '1.082', '1.100'],
 'New Orleans': ['1.097', '1.146', '1.213', '1.096', '1.097', '1.104'],
 'LA Lakers': ['1.100', '1.118', '1.193', '1.075', '1.126', '1.042'],
 'Detroit': ['1.101', '1.237', '1.170', '1.079', '1.122', '1.092'],
 'Chicago': ['1.102', '1.126', '1.091', '1.103', '1.101', '1.090'],
 'Charlotte': ['1.105', '1.173', '1.241', '1.080', '1.129', '1.098'],
 'Washington': ['1.111', '1.189', '1.210', '1.104', '1.118', '1.100'],
 'Atlanta': ['1.112', '1.099', '1.004', '1.104', '1.120', '1.094'],
 'Sacramento': ['1.119', '1.149', '1.056', '1.111', '1.127', '1.138'],
 'Indiana': ['1.124', '1.253', '1.247', '1.122', '1.126', '1.091'],
 'Houston': ['1.131', '1.187', '1.307', '1.132', '1.130', '1.116'],
 'Portland': ['1.132', '1.234', '1.100', '1.116', '1.149', '1.129']}

In [27]:
#convert data to dataframe
data_df = pd.DataFrame.from_dict(data, orient="index", columns=headers)
data_df.head()

               2021 Last 3 Last 1   Home   Away   2020
Boston        1.036  1.064  1.054  1.035  1.036  1.097
Golden State  1.042  0.952  0.921  1.012  1.075  1.068
Memphis       1.052  0.977  1.069  1.034  1.069  1.083
Miami         1.052  1.015  0.991  1.051  1.053  1.083
Phoenix       1.053  1.115  1.328  1.048  1.059  1.079

In [28]:
#export as csv
data_df.to_csv("Team_defensive_efficency.csv")

In [30]:
#quit
browser.quit()