In [2]:
import pandas as pd
import math

In [ ]:
1

In [6]:
(1.1745 ** (1/12) - 1) * 12

0.16192528723697386

In [7]:
.1745 / 12

0.014541666666666666

In [8]:
10000 = C / 0.014541666666666666 (1 + 1 / 1.014541666666666666) ** 36

SyntaxError: cannot assign to literal (1921012924.py, line 1)

In [14]:
.1845 / 12

0.015375

In [25]:
0.1132 / 12

0.009433333333333334

In [27]:
500 * 0.014541666666666666/ (1 - (1 / 1.014541666666666666) ** 36)

<>:1: SyntaxWarning: 'float' object is not callable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'float' object is not callable; perhaps you missed a comma?
/var/folders/g3/164q6cz52jv0sjllnsg7jdsm0000gn/T/ipykernel_33818/1565754614.py:1: SyntaxWarning: 'float' object is not callable; perhaps you missed a comma?
  500 * 0.009433 (1 - (1 / 1.009433) ** 36)
/var/folders/g3/164q6cz52jv0sjllnsg7jdsm0000gn/T/ipykernel_33818/1565754614.py:1: SyntaxWarning: 'float' object is not callable; perhaps you missed a comma?
  500 * 0.009433 (1 - (1 / 1.009433) ** 36)
/var/folders/g3/164q6cz52jv0sjllnsg7jdsm0000gn/T/ipykernel_33818/1565754614.py:1: SyntaxWarning: 'float' object is not callable; perhaps you missed a comma?
  500 * 0.009433 (1 - (1 / 1.009433) ** 36)

TypeError: 'float' object is not callable

In [24]:
57.81737177997937 / 0.014541666666666666/ (1 + (1 / 1.014541666666666666) ** 36)

2493.2759740986176